body{
    background-color:rgb(189, 184, 184);
}

main{
    border:2px red solid;
    padding: 20px;
    padding-top: 3px;
    background-image:url('images/BGart.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}

form{
    padding-top:20px;
}

header{
    background-color:coral;
    color:white;
    padding: 20px;
}

img.portrait {
    width: 60%;
    height: auto;
    padding-top: 15px;
}